.car {
  border-bottom: 2px solid black;
  margin-bottom: 10px;

  &__image {
    display: inline-block;
    width: 80px;
    height: 40px;
  }
}

.pagination {
  display: flex;
  margin: 20px 0;

  &__current {
    margin: 0 10px;
  }
}