.selector {

  &__title {
    margin-bottom: 10px;
  }

  &__header {
    cursor: pointer;
    display: flex;
    gap: 5px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #41414180;
    }
  }

  &__arrow {
    height: 24px;
    width: 24px;
    background-image: url('../../../assets/icons/arrow.svg');
    background-size: contain;
    transition: transform 0.5s;

    &--active {
      transform: rotate(90deg);
    }
  }

  &__levels {
    overflow: hidden;
    margin: 0;
    margin-left: 12px;
    padding: 0;
    list-style-type: none;
    border-left: 1px solid #414141;
    transition: max-height 0.5s;
  }

  &__level {
    cursor: pointer;
    position: relative;
    padding-left: 27px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #41414180;
    }

    &--active {
      background-color: #414141;
    }

    &::before {
      content: '✓';
      color: #727272;
      position: absolute;
      left: 10px;
      font-weight: bold;
    }

    &--lvl-done::before {
      color: #3aba2e;
    }

    &--help-used::before {
      content: '✗';
      color: #cf3b47;
      left: 9px;
    }
  }

  &__reset-btn {
    cursor: pointer;
    margin-top: 10px;
    padding: 4px 9px;
    color: #0b0f18;
    background-color: #dee3e7;
    border: none;
  }
}