.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;

  &__visualizer {
    grid-column: span 2;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;

    &__visualizer {
      grid-column: 1;
    }
  }
}