@import './animation';

.style-editor {

  &__title {
    margin-top: 7px;
    position: relative;
    z-index: 5;
    top: 1px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #131924;
    border: 1px solid #414141;
    border-bottom: none;
  }

  &__body {
    position: relative;
    padding: 20px;
    height: calc(100% - 83px);
    background-color: #131924;
    border-top: 1px solid #414141;
    border-left: 1px solid #414141;
  }

  &__input {
    font-family: monospace;
    font-size: 16px;
    min-width: 200px;
    width: 90%;
    padding: 5px 10px;
    color: #dee3e7;
    outline: none;
    border: none;
    background-color: #131924;
    animation: strobe 0.5s infinite;
  }

  &__submit-btn,
  &__help-btn {
    position: absolute;
    z-index: 5;
    top: 21px;
    right: 20px;
    cursor: pointer;
    width: 70px;
    height: 27px;
    padding: 4px 9px;
    color: #0b0f18;
    background-color: #dee3e7;
    border: none;
    transition: 0.3s;

    &--wrong-selector {
      background-color: #cf3b47;
      animation: wrong-selector 0.8s;
    }

    &--correct-selector {
      background-color: #5bcf3b;
      animation: correct-selector 0.8s;
    }
  }

  &__help-btn {
    top: 101px;
  }
}