.description {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__title {
    font-weight: bold;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.footer {

  &__year {
    font-size: 12px;
    line-height: 12px;
    opacity: 0.7;
  }

  &__github,
  &__rss {
    display: block;
    cursor: pointer;
    opacity: 0.5;
    height: 30px;
    background-size: cover;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__github {
    width: 30px;
    background-image: url('../../../assets/icons/github.svg');
  }

  &__rss {
    width: 80px;
    background-image: url('../../../assets/icons/rss.svg');
    filter: invert(100%);
  }
}