.html-viewer {

  &__title {
    margin-top: 7px;
    position: relative;
    z-index: 5;
    top: 1px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #131924;
    border: 1px solid #414141;
    border-bottom: none;
  }

  &__body {
    height: calc(100% - 43px);
    background-color: #131924;
    border-top: 1px solid #414141;
    border-left: 1px solid #414141;
  }

  &__code {
    cursor: help;
    margin: 0;
    padding: 20px;
    background-color: #131924;
  }
}