.html-viewer {

  &__title {
    margin-top: 7px;
    position: relative;
    z-index: 5;
    top: 1px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #131924;
    border: 1px solid #414141;
    border-bottom: none;
  }

  &__body {
    height: calc(100% - 43px);
    background-color: #131924;
    border-top: 1px solid #414141;
    border-left: 1px solid #414141;
  }

  &__code {
    position: relative;
    margin: 0;
    padding: 20px 20px 20px 50px;
    background-color: #131924;
    counter-reset: line;

    & .hljs-tag {
      counter-increment: line;
      cursor: help;

      &::before {
        content: counter(line);
        position: absolute;
        right: calc(100% - 40px);
        padding-right: 10px;
        border-right: 1px solid #414141;
      }
    }
  }

  @media (max-width: 650px) {
    &__code {
      font-size: 13px;
    }
  }
}

.code-hover {
  background-color: #414958;
}