@keyframes select-me {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes element-selected {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-100vh) scaleY(3);
    opacity: 0;
  }
}