@import './shape-vars';

.field {
  cursor: help;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 80%;
  border: 2px solid #dee3e7;
  padding: 20px 40px;
  transition: 0.3s;
}

.select-me {
  animation: select-me 0.5s ease-in infinite;
}

.element-selected {
  animation: element-selected 1s ease-in-out forwards;
}

.hover {
  box-shadow: 0 0 10px 5px rgba(222, 227, 231, 0.5);
}

.red {
  background-color: #cf3b47;
  outline: none;
}

.blue {
  background-color: #3b79cf;
  outline: none;
}

.green {
  background-color: #3aba2e;
  outline: none;
}

square,
circle,
underscore {
  width: 30px;
  height: 30px;
  outline: 2px solid #dee3e7;
  outline-offset: -2px;
  margin: 12px;
  transition: 0.3s;
}

underscore {
  height: 0;
  outline: none;
  border-bottom: 2px solid #dee3e7;
}


circle {
  border-radius: 20px;
}

triangle {
  width: 30px;
  height: 30px;
  margin: 12px;
  background-image: $triangle;
  background-size: contain;
  transition: 0.3s;

  &.red {
    background-color: transparent;
    background-image: $triangle-red;
  }

  &.green {
    background-color: transparent;
    background-image: $triangle-green;
  }

  &.blue {
    background-color: transparent;
    background-image: $triangle-blue;
  }

  &.hover {
    box-shadow: none;
    filter: drop-shadow(0 0 8px #ffffff);
  }
}

border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #dee3e7;
  transition: 0.3s;
}