$triangle: url('../../../assets/icons/triangle.svg');
$triangle-red: url('../../../assets/icons/triangle-red.svg');
$triangle-green: url('../../../assets/icons/triangle-green.svg');
$triangle-blue: url('../../../assets/icons/triangle-blue.svg');