@import './_field';
@import './_animation';

.visualizer {

  &__title {
    margin-top: 15px;
    position: relative;
    z-index: 5;
    top: 1px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #131924;
    border: 1px solid #414141;
    border-bottom: none;
  }

  &__body {
    height: calc(100% - 50px);
    background-color: #131924;
    border-top: 1px solid #414141;
    border-left: 1px solid #414141;
    border-bottom: 1px solid #414141;
  }

  &__task {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
  }

  &__view-container {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tool-tip {
    position: relative;
    font-family: monospace;
    font-size: 16px;
    background-color: #131924;
    border: 1px solid #414141;
    padding: 10px 20px;
    position: fixed;
    z-index: 999;
  }
}