.task {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #414141;

  &__selector,
  &__description {
    padding: 15px;
  }

  &__selector {
    border-bottom: 1px solid #414141;
  }
}